* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

html {
    scroll-behavior: smooth;
}

html,
body {
    background-color: #f2f2f2;
    height: 100%;
    min-height: 343px;
    /* For browsers that do not support gradients */
    /* Standard syntax (must be last) */
    /* background-image: linear-gradient(to bottom right, rgb(11, 28, 58), rgb(27, 55, 105)); */
    background-repeat: no-repeat;
}


/* NAV */

nav {
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: space-around;
    top: 0px;
    width: 100%;
    padding: 15px 0 15px 0;
    z-index: 1000;

}

nav a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.nav-bg-colored {
    background-color: rgb(27, 55, 105);
}

.nav-bg-white {
    background-color: white;
}

.nav-link-colored {
    color: rgb(27, 55, 105);
}

.nav-link-white {
    color: white;
}



/* WELCOME */
#welcome-section {
    height: 100%;
    background-color: rgb(27, 55, 105);
    background-image: url('../images/welcome-background/screen2.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;

}

.welcome-item {
    margin: 0 20px 0 20px;
}

#title-cont {
    text-align: center;
}

#title-cont h1 {
    font-size: 40px;
}

#title-cont p {
    font-size: 20px;
}

#myPicture {
    border-radius: 50%;
    max-height: 471px;
    max-width: 100%;
    height: auto;
}

#socials {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#socials a {
    color: white;
}

#welcome-section #github-icon,
#welcome-section #freecodecamp-icon,
#welcome-section #twitter-icon,
#welcome-section #linkedin-icon {
    height: 50px;
    width: auto;
}

/* Sections */

.anchor {
    background-color: #f2f2f2;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;



}

.anchor>h1 {
    /* text-align: center; */
    /* color: white; */
    /* padding: 5px 0 15px 5px; */

    /* border-top-right-radius: 15px;
    border-top-left-radius: 15px; */

    /* border-bottom: 4px solid rgb(27, 55, 105); */
    /* background-color: rgb(27, 55, 105); */
    color: rgb(27, 55, 105);
    font-size: 40px;
}

.anchor h2 {
    padding: 5px 0 15px 5px;
    color: rgb(27, 55, 105);
}


/* Projects */
#project-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
}

.project-tile {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 10px;
    margin: 10px 10px;
    max-width: 300px;
    /* border-top-left-radius: 11px;
    border-top-right-radius: 11px; */
    transition: transform .2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-tile:hover {
    transform: scale(1.025);
}



.tile-img {
    /* border-top-left-radius: 11px;
    border-top-right-radius: 11px; */
    max-width: 300px !important;
    height: auto !important;
    width: 100%;
}

.tile-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding-left: 5px;
    padding-bottom: 5px;
}

h1 a {
    color: black;
    float: right;
    margin-right: 5px;
}

.tile-tech {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: flex-end;
}

.tech-icon {
    height: 30px;
    width: auto;
    padding-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

/*  KONTAKT */

#contact {
    margin-bottom: 60px;
}

#container {
    height: 219px;
    position: relative;
}

#overlay {
    height: 100%;
    position: absolute;
    text-align: center;
    top: 50px;
    left: 50px;
    color: red;
    font-size: 40px;
    z-index: 10;
}

#base {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

form {
    margin-top: 20px;
    padding: 30px 20px 30px 20px;
    background-color: rgb(27, 55, 105);
    color: white;
}

.offline {
    box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3);
    filter: blur(10px);
}

#overlay {
    display: none;
}

.form-field {
    display: flex;
    margin: 5px 0 5px 0;
}

.form-field label {
    min-width: 150px;
    flex-grow: 1;
}

.form-field input,
textarea {
    padding: 4px;
    flex-grow: 10;
}

form button {
    width: 100%;
    padding: 5px;
    background-color: white;
    color: rgb(27, 55, 105);
    border: none;
    margin-top: 5px;

}

form button:active {

    transform: scale(1.005);
}




.formSuccess {
    animation-name: color_success;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@-webkit-keyframes color_success {
    0% {
        background-color: green;
    }

    50% {
        background-color: green;
    }

    100% {
        background-color: white;
    }
}

.formFail {
    animation-name: color_fail;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@-webkit-keyframes color_fail {
    0% {
        background-color: red;
    }

    50% {
        background-color: red;
    }

    100% {
        background-color: white;
    }
}

/*  MODAL */

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    position: absolute;
    left: 50%;
    margin-left: -168px;
    top: 50%;
    margin-top: -60px;
    padding: 20px 15px 20px 15px;
}

div.g-recaptcha {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* FOOTER */

footer {
    height: 60px;
    margin-top: 30px;
    width: 100%;
    background-color: rgb(27, 55, 105);
    color: white;
}

footer p {
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
}

/* MEDIA QUERIES */
@media screen and (max-height: 470px) {

    /* welcome */
    #myPicture {
        display: none;
    }



}


@media screen and (max-height: 585px) and (min-width: 851px) {

    #myPicture {
        display: none;
    }
}

@media screen and (max-width: 666px) {
    #project-cont {
        justify-content: center;
    }

    .anchor>h1 {
        padding-left: 0px;
        text-align: center;
    }

    /* contact */
    .form-field {
        flex-direction: column;
    }

    #contact {
        margin-bottom: 120px;
    }


}




@media screen and (max-width: 850px) {
    #welcome-section {
        flex-direction: column-reverse;
    }

    #title-cont {
        margin-top: 15px;
    }

    #title-cont h1 {
        font-size: 30px;
    }

    #title-cont p {
        font-size: 18px;
    }

    #myPicture {
        max-height: 200px;
    }

    #welcome-section #github-icon,
    #welcome-section #freecodecamp-icon,
    #welcome-section #twitter-icon,
    #welcome-section #linkedin-icon {
        height: 35px;
        width: auto;
    }

}

@media screen and (max-width: 1477px) {
    .anchor {
        max-width: 940px;

    }
}

@media screen and (max-width: 1156px) {
    .anchor {
        max-width: 620px;

    }
}


@media screen and (max-width: 840px) {

    .anchor {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 620px;
    }
}



/* TODO: make the captcha responsive */
/* Recaptcha HOTFIX */

@media screen and (max-width: 500px) {

    #rc-imageselect,
    .g-recaptcha {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }

    .modal-content {
        margin-left: -139px;
        margin-top: - 51px;
        height: 60px
    }

    div.g-recaptcha {
        max-width: 246px;
    }
}