* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

html {
    scroll-behavior: smooth;
}

html,
body {
    background-color: #f2f2f2;
    height: 100%;
    min-height: 343px;
    /* For browsers that do not support gradients */
    /* Standard syntax (must be last) */
    /* background-image: linear-gradient(to bottom right, rgb(11, 28, 58), rgb(27, 55, 105)); */
    background-repeat: no-repeat;
}


/* NAV */

nav {
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: space-around;
    top: 0px;
    width: 100%;
    padding: 15px 0 15px 0;
    z-index: 1000;

}

nav a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.nav-bg-colored {
    background-color: rgb(27, 55, 105);
}

.nav-bg-white {
    background-color: white;
}

.nav-link-colored {
    color: rgb(27, 55, 105);
}

.nav-link-white {
    color: white;
}



/* WELCOME */
#welcome-section {
    height: 100%;
    background-color: rgb(27, 55, 105);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;

}

.welcome-item {
    margin: 0 20px 0 20px;
}

#title-cont {
    text-align: center;
    /* -ms-transform: rotate(-20deg); /* IE 9 */
    /* -webkit-transform: rotate(-20deg);  /* Safari */
    /*transform: rotate(-20deg); */
}

#title-cont h1 {
    font-size: 40px;
}

#title-cont p {
    font-size: 20px;
}

#myPicture {
    border-radius: 50%;
    max-height: 471px;
    max-width: 100%;
    height: auto;
}

#socials {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#socials a {
    color: white;
}

#github-icon,
#freecodecamp-icon,
#twitter-icon,
#facebook-icon {
    height: 50px;
    width: auto;
}

/* Sections */

.anchor {
    background-color: #f2f2f2;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
    min-height: 500px;


}

.anchor>h1 {
    /* text-align: center; */
    /* color: white; */
    /* padding: 5px 0 15px 5px; */

    /* border-top-right-radius: 15px;
    border-top-left-radius: 15px; */

    /* border-bottom: 4px solid rgb(27, 55, 105); */
    /* background-color: rgb(27, 55, 105); */
    color: rgb(27, 55, 105);
    font-size: 40px;
}

.anchor h2 {
    padding: 5px 0 15px 5px;
    color: rgb(27, 55, 105);
}


/* Projects */
#project-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-tile {
    background-color: white;
    margin-top: 10px;
    max-width: 300px;
    /* border-top-left-radius: 11px;
    border-top-right-radius: 11px; */
    transition: transform .2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-tile:hover {
    transform: scale(1.025);
}



.tile-img {
    /* border-top-left-radius: 11px;
    border-top-right-radius: 11px; */
    max-width: 300px !important;
    height: auto !important;
    width: 100%;
}

.tile-info {
    padding-left: 5px;
    padding-bottom: 5px;
}

.tile-tech {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tech-icon {
    height: 30px;
    width: auto;
    padding-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

/* ABOUT */
#about {
    display: none;
}

form {
    margin-top:20px;
    padding: 30px 20px 30px 20px;
    background-color:  rgb(27, 55, 105);
    color: white;
}

/*  KONTAKT */
.form-field {
    display: flex;
    margin: 5px 0 5px 0;
}

.form-field label {
    min-width: 150px;
    flex-grow: 1;
}

.form-field input,
textarea {
    flex-grow: 10;
}

form button{
    width: 100%;
    padding: 5px;
    background-color:white;
    color: rgb(27, 55, 105);
    border:none;
    margin-top: 5px;

}

form button:active{

        transform: scale(1.005);
    }


/* FOOTER */

footer {
    height: 60px;
    margin-top: 30px;
    width: 100%;
    background-color: rgb(27, 55, 105);
    color: white;
}

footer p {
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
}

/* MEDIA QUERIES */
@media screen and (max-height: 470px) {

    /* welcome */
    #myPicture {
        display: none;
    }



}

@media screen and (max-width: 470px) {

    /* contact */
    .form-field {
        flex-direction: column;
    }
}

@media screen and (max-height: 585px) and (min-width: 851px) {

    #myPicture {
        display: none;
    }
}

@media screen and (max-width: 666px) {
    #project-cont {
        justify-content: center;
    }

    .anchor>h1 {
        padding-left: 0px;
        text-align: center;
    }


}


@media screen and (max-width: 840px) {

    .anchor {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media screen and (max-width: 850px) {
    #welcome-section {
        flex-direction: column-reverse;
    }

    #title-cont {
        margin-top: 15px;
    }

    #title-cont h1 {
        font-size: 30px;
    }

    #title-cont p {
        font-size: 18px;
    }

    #myPicture {
        max-height: 200px;
    }

    #github-icon,
    #freecodecamp-icon,
    #twitter-icon,
    #facebook-icon {
        height: 35px;
        width: auto;
    }

}