* {
    margin: 0;

}

#header,
#studierende,
#navigation,
#kontakt,
#footer {
    padding: 20px;
}

body h1,
#footer,
#kontakt,
#navigation {
    text-align: center;
}

#studierende h1 {
    text-align: left;
}

#header {
    background-color: tomato;
}

#studierende {
    background-color: deepskyblue;
}

#navigation {
    background-color: gold;
}

#kontakt {
    background-color: hotpink;
}

#footer {
    background-color: lightgreen;
}

@media (min-width:600px) {
    .container {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .item:nth-of-type(1) {
        flex-grow: 1;
        order: 3;
        min-width: 100%;
    }

    .item:nth-of-type(2) {
        flex-grow: 1;
        order: 1;
    }

    .item:nth-of-type(3) {
        flex-grow: 1;
        order: 2;
    }
}

@media (min-width:800px) {

    .item:nth-of-type(1) {
        min-width: auto;
        order: 2;
    }

    #studierende {
        animation: changebackground 3s;
        animation-fill-mode: forwards;
    }

    @keyframes changebackground {
        from {
            background-color: deepskyblue;
        }

        to {
            background-color: white;
        }

    }
}